@font-face {
  font-family: "Karla Ragular";
  src: url("./assets/fonts/static/Karla-Regular.ttf") format("truetype");
}

body {
  font-family: "Karla Regular", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  background-color: hsl(148, 38%, 91%);
  color: hsl(187, 24%, 22%);
}

input {
  font-family: "Karla Regular", sans-serif;
  font-weight: 200;
  cursor: pointer;
}

button {
  font-family: "Karla Regular", sans-serif;
  font-weight: 600;
}

main {
  display: flex;
  justify-content: center;
}

form {
  margin: 5rem 1rem 2rem 1rem;
  background-color: hsl(0, 0%, 100%);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;

  .full_name_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .input_container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    input[type="text"] {
      width: 100%;
      padding: 1rem;
      border-radius: 8px;
      border: 1px solid hsl(161, 14%, 66%);
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid hsl(169, 82%, 27%);
      }
    }

    &.error {
      input[type="text"] {
        border: 1px solid hsl(0, 66%, 56%);
      }

      textarea {
        border: 1px solid hsl(0, 66%, 56%);
      }

      .error_msg {
        display: block;
      }
    }
  }

  fieldset {
    border: none;
    padding: 0.5rem;
    margin: 0;
  }

  fieldset.error {
    .error_msg {
      display: block;
    }
  }

  .query_container_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0.5rem 0;

    .query_container {
      padding: 0.75rem 1rem;
      border: 1px solid hsl(186, 15%, 59%);
      border-radius: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &.active {
        background-color: hsl(148, 38%, 91%);
      }

      input[type="radio"] {
        width: 15px;
        height: 15px;
        margin: 0 0.75rem 0 0;

        &:checked {
          appearance: none;
          background-image: url("./assets/images/icon-radio-selected.svg");
          background-size: 15px 15px;
          height: 15px;
          width: 15px;
        }
      }
    }
  }

  textarea {
    padding: 1rem;
    border-radius: 8px;
    border: 1px solid hsl(161, 14%, 66%);
    width: 100%;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 250px;

    &:focus {
      outline: none;
      border: 1px solid hsl(169, 82%, 27%);
    }

    &:hover {
      cursor: pointer;
    }
  }

  label > span {
    color: hsl(169, 82%, 27%);
    position: relative;
    top: -5px;
    left: 5px;
    font-size: 0.75rem;
  }

  fieldset label > span {
    position: static;
    color: hsl(187, 24%, 22%);
    font-size: 1rem;
  }

  .error_msg {
    display: none;
    position: relative;
    top: 0;
    left: 0;
    font-size: 0.75rem;
    color: hsl(0, 66%, 56%);
    margin: 0;
  }

  .input_container.email {
    .error_msg_email {
      display: none;
      font-size: 0.75rem;
      color: hsl(0, 66%, 56%);
      margin: 0;
    }

    &.error {
      .error_msg_email {
        display: block;
      }
    }
  }

  button {
    padding: 1rem;
    color: hsl(0, 0%, 100%);
    font-size: 1.25rem;
    border: none;
    border-radius: 8px;
    background-color: hsl(169, 82%, 27%);

    &:hover {
      background-color: hsl(171, 86%, 14%);
      cursor: pointer;
    }
  }

  .consent_check {
    padding-left: 0.5rem;
    margin: 1rem 0;

    label {
      cursor: pointer;
    }

    .consent_wrapper {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      input[type="checkbox"] {
        width: 15px;
        height: 15px;
      }

      input[type="checkbox"]:checked::before {
        content: "";
        background-image: url("./assets/images/icon-checkbox-check.svg");
        background-size: 15px 15px;
        display: inline-block;
        height: 15px;
        width: 15px;
      }
    }

    &.error {
      .error_msg {
        display: block;
      }
    }
  }
}

.succes_toast {
  display: none;
  padding: 1.5rem;
  border-radius: 10px;
  width: 200px;
  height: fit-content;
  background-color: hsl(187, 24%, 22%);
  color: hsl(0, 0%, 100%);
  position: absolute;
  top: -75px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;

  &.show {
    display: block;
  }

  p {
    font-size: 0.75rem;
  }

  p:first-of-type {
    font-weight: bold;
    margin-left: 0.5rem;
    margin-top: 0;

    &::before {
      content: url(./assets/images/icon-success-check.svg);
      position: relative;
      right: 7px;
      top: 5px;
    }
  }

  p:last-of-type {
    opacity: 0.8;
    margin-bottom: 0;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 600px) {
  form {
    width: 600px;
    margin-top: 8rem;
  }

  .succes_toast {
    width: 400px;
    height: fit-content;
    top: -100px;

    p {
      font-size: 1rem;
    }
  }

  form {
    .full_name_container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 1rem;
      padding: 0.5rem;

      .input_container {
        width: 100%;
        padding: 0;
      }
    }

    .query_container_wrapper {
      display: flex;
      flex-direction: row;
      gap: 1rem;

      .query_container {
        width: 100%;
      }
    }

    textarea {
      width: 100%;
      height: 150px;
    }
  }
}
